<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>E-LPG</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>OTPCheck</display-name>
    <servlet-name>OTPCheck</servlet-name>
    <servlet-class>controller.OTPCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OTPCheck</servlet-name>
    <url-pattern>/OTPCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>controller.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Bookcylinder</display-name>
    <servlet-name>Bookcylinder</servlet-name>
    <servlet-class>controller.Bookcylinder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bookcylinder</servlet-name>
    <url-pattern>/Bookcylinder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShopProduct</display-name>
    <servlet-name>ShopProduct</servlet-name>
    <servlet-class>controller.ShopProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShopProduct</servlet-name>
    <url-pattern>/ShopProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActivateUserServlet</display-name>
    <servlet-name>ActivateUserServlet</servlet-name>
    <servlet-class>controller.ActivateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActivateUserServlet</servlet-name>
    <url-pattern>/ActivateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCylinderServlet</display-name>
    <servlet-name>AddCylinderServlet</servlet-name>
    <servlet-class>controller.AddCylinderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCylinderServlet</servlet-name>
    <url-pattern>/AddCylinderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Feedback</display-name>
    <servlet-name>Feedback</servlet-name>
    <servlet-class>controller.Feedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Feedback</servlet-name>
    <url-pattern>/Feedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Complain</display-name>
    <servlet-name>Complain</servlet-name>
    <servlet-class>controller.Complain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Complain</servlet-name>
    <url-pattern>/Complain</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddLocator</display-name>
    <servlet-name>AddLocator</servlet-name>
    <servlet-class>controller.AddLocator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddLocator</servlet-name>
    <url-pattern>/AddLocator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
</web-app>